<div class="container-fluid bg-aliceblue">
  <div class="row pt-4">
    <div class="col-sm-12 col-md-2">
      <app-filters></app-filters>
    </div>
    <div class="col-sm-12 col-md-10">
      <div class="row">
        <div class="col-12 mb-4 min-h-120">
          <app-selected-filters></app-selected-filters>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <app-search></app-search>
        </div>
        <div class="col-sm-12 col-md-3 offset-md-3 pb-3 pad-top">
          <app-sort></app-sort>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-characters></app-characters>
        </div>
      </div>      
    </div>
  </div>
</div>